In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("datafile.xlsx")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [18]:
def gradient_dcesent(x,y):
    m_curr = 0
    b_curr = 0
    n = len(x)
    iterations = 100
    learning_rate = 0.01
    
    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n)*sum([val**2 for val in (y-y_predicted)])
        md = -(2/n) * sum(x*(y-y_predicted))
        bd = -(2/n) * sum(y-y_predicted)
        
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        
        return m_curr , b_curr , cost , y_predicted

In [19]:
m , b , cost , y_predicted = gradient_dcesent(df.math,df.cs)
print(cost)

5199.1