In [22]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv('netincome.csv',skiprows=4,usecols=['Country Name','2010','2011','2012','2013','2014','2015','2016'],index_col=0)
df = df.loc['India']
df = pd.DataFrame({
    'Years' : df.index,
    'Income' : df.values
})
df

  Years       Income
0  2010  1159.451205
1  2011  1259.542638
2  2012  1248.451734
3  2013  1254.241915
4  2014  1366.025674
5  2015  1380.033125
6  2016  1461.624029

In [24]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 1].values

In [25]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1, random_state = 0)

In [26]:
X

array([['2010'],
       ['2011'],
       ['2012'],
       ['2013'],
       ['2014'],
       ['2015'],
       ['2016']], dtype=object)

In [27]:
y

array([1159.4512047 , 1259.54263785, 1248.45173438, 1254.24191462,
       1366.02567393, 1380.03312522, 1461.62402901])

In [28]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [29]:
regressor.predict([[2017]])

array([1484.92052956])